.search-input {
  width: 250px;
  height: 25px;
}

.wrapper {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-list {
  position: relative;
  top: 40px;
}
