.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.remove-btn {
  position: absolute;
  right: 0;
}

.todos {
  width: 150px;
}

.todo {
  position: relative;
  margin-bottom: 10px;
}
.crossed {
  text-decoration: line-through;
}
